<template>
    <div class="flex-row-hero">
        <aside class="col1">
        <side-bar 
          :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
      />
        <contentList id="content-list" class="no-beta"
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
          />
      </aside>
        <div class="col2">
      <div class="container home-page">
        <intro
          :templateTitle="intro.title"
          :introDescription="intro.description"
          :introSubtitle="intro.subtitle"
          :introSubtextOne="intro.textOne"
          :introSubtextTwo="intro.introSubtextTwo"
          introImg="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/look01_ggCaLaHr0.png"
          introSnackLink=""
          :introSnackBar="intro.snack"
          introSnackUrl=""
        />
        <footerNavigation class="first-page"
          :previousArticle="intro.introChapter"
          :nextArticle="intro.chapterOne"
          nextUrl="/celestin/bannery-vyhod"
          previousUrl=""
        />
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content}) {
            const intro = await $content('celestin/intro').fetch();
            return {
                intro
            }
        },
        name: 'Celestin',
        head () {
          return {
              title: 'Celestin - Shopteťák.cz',
              }
        },
    }
</script>

<style lang="scss" scoped>

.home-page {
  @media only screen and (max-width: 450px) {
    margin-top: 80px;
  }
}

</style>