<template>
    <div class="flex-row-hero">
        <aside class="col1">
          <side-bar 
          :introContent="carousel.introChapter"
          introLink="/premium-carousel"
          :contentOne="carousel.chapterOne"
          linkOne="/premium-carousel/dark-mode"
          :contentTwo="carousel.chapterTwo"
          linkTwo="/premium-carousel/tlacitka"
          :contentThree="carousel.chapterThree"
          linkThree="/premium-carousel/fotografie"
          :contentFour="carousel.chapterFour"
          linkFour="/"
          :contentFive="carousel.chapterFive"
          linkFive="/"
          :contentSix="carousel.chapterSix"
          linkSix="/"
          :contentSeven="carousel.chapterSeven"
          linkSeven="/"
          :contentEight="carousel.chapterEight"
          :contentNine="carousel.chapterNine"
          :contentTen="carousel.chapterTen"
      />
      <contentList id="content-list" class="no-beta"
          :introContent="carousel.introChapter"
          introLink="/premium-carousel"
          :contentOne="carousel.chapterOne"
          linkOne="/premium-carousel/dark-mode"
          :contentTwo="carousel.chapterTwo"
          linkTwo="/premium-carousel/tlacitka"
          :contentThree="carousel.chapterThree"
          linkThree="/premium-carousel/fotografie"
          :contentFour="carousel.chapterFour"
          linkFour="/"
          :contentFive="carousel.chapterFive"
          linkFive="/"
          :contentSix="carousel.chapterSix"
          linkSix="/"
          :contentSeven="carousel.chapterSeven"
          linkSeven="/"
          :contentEight="carousel.chapterEight"
          :contentNine="carousel.chapterNine"
          :contentTen="carousel.chapterTen"
        />
      </aside>
        <div class="col2">
      <div class="container home-page">
        <textTutorial
          :sectionTitle="carousel.chapterTwo"
          :sectionDescription="carousel.btnDescription">
        </textTutorial>
        <div class="additional-content">
            <step class="step-one step-no-image"
                :stepTitle="carousel.stepOne"
                :stepText="carousel.oneText"
                stepImage=""
                >
                <div slot="stepContent">
                    <pre class="snippet">
                        <code>
                            <div class="wrapper">
                                <strong class="red"> {{carousel.snippetOne}} </strong>
                            </div>
                        </code>
                    </pre>
                </div>
              </step>
              <step class="step-two"
                :stepTitle="carousel.stepTwo"
                :stepText="carousel.twoText"
                stepImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Premium_carousel/Screenshot_2020-10-30_at_15.12.09_PFcnAed0d6.png"
                >
                <div slot="stepContent">
                  <pre>
                    <code>
                      <div class="wrapper">
                        <div class="first-layer">
                          <span>&lt;</span><span class="red">link  </span><span><span class="yellow">rel</span>="<span class="green">stylesheet</span>"</span><span class="yellow"> href</span>="<span class="green">https://cdn.myshoptet.com/usr/shoptet.tomashlad.eu/user/documents/extras/premium-carousel/telefon-skryti-tlacitek.css</span>"/>
                        </div>
                      </div>
                    </code>
                  </pre>
                </div>
              </step>
              <step class="step-three step-no-image"
                :stepTitle="carousel.stepThree"
                :stepText="carousel.threeText"
                stepImage=""
                >
                <div slot="stepContent no-image">
                </div>
              </step>
        </div>
        <footerNavigation 
          :previousArticle="carousel.chapterOne"
          :nextArticle="carousel.chapterThree"
          nextUrl="/premium-carousel/fotografie"
          previousUrl="/premium-carousel/dark-mode"
        />
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content}) {
            const carousel = await $content('carousel').fetch();
            return {
                carousel
            }
        },
        head () {
          return {
            title: 'Premium Carousel | Skrytí tlačítek na telefonech',
          }
        },
    }
</script>

<style lang="scss" scoped>

</style>