<template>
    <div class="flex-row-hero">
        <aside class="col1">
          <side-bar 
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
        />
        <contentList id="content-list" class="no-beta"
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
          />
      </aside>
        <div class="col2">
          <div class="container home-page">
            <textTutorial
              :sectionTitle="intro.chapterTwo"
              :sectionDescription="dyna.description"
              tutorialImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/dyna-image_AmFw0rRgkUW3.png"
            />
            <div class="additional-content">
                <step class="step-one step-no-image"
                    :stepTitle="dyna.stepOne"
                    :stepText="dyna.textOne"
                    stepImage=""
                    >
                    <div slot="stepContent">
                        <pre class="snippet">
                            <code>
                                <div class="wrapper">
                                    <strong class="red"> {{dyna.snippetOne}} </strong>
                                </div>
                            </code>
                        </pre>
                    </div>
                  </step>
                  <step class="step-two step-no-image"
                    :stepTitle="dyna.stepTwo"
                    :stepText="dyna.twoText"
                    stepImage=""
                    >
                    <div slot="stepContent">
                      <pre class="code-snippet">
                        <code>
                          <div class="wrapper">
                            <div class="first-layer">
                              &lt;<span class="red">script</span> <span class="yellow">src</span>="<span class="green">https://cdn.myshoptet.com/usr/shoptet.tomashlad.eu/user/documents/extras/celestin/dynamicke-bannery.js</span>">&lt;/<span class="red">script</span>>
                            </div>
                          </div>
                        </code>
                      </pre>
                      <p>Po vložení stačí <b>uložit</b> a změny se po znovunačtení vašeho e-shopu automaticky projeví.</p>
                    </div>
                  </step>
                  <!-- <step class="step-three step-no-image"
                    :stepTitle="dyna.stepThree"
                    :stepText="dyna.threeText"
                    stepImage=""
                    >
                  </step>
                  <step class="step-four"
                    :stepTitle="dyna.stepFour"
                    :stepText="dyna.fourText"
                    stepImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/html_MnGgQfUyW8Vv.png"
                  >
                    <div slot="stepContent">
                      <p>
                        Po přidání můžeme libovolně měnit text i obrázek v banneru. Posledním krokem je tak <b>ULOŽIT</b> změny a banner se vám začne postupně přidávat na hlavní stránku.
                      </p>
                    </div>
                  </step> -->
                  <!-- <snackBar
                    class="warning no-link"
                    :snackBarText="dyna.snack"
                    snackUrl="/"
                  /> -->
                  <!-- <snackBar
                    class="success no-link"
                    :snackBarText="adv.snackTwo"
                    snackUrl="/"
                  /> -->
            </div>
            <footerNavigation 
              :previousArticle="intro.chapterOne"
              previousUrl="/celestin/bannery-vyhod"
              :nextArticle="intro.chapterThree"
              nextUrl="/celestin/hp-kategorie"
            />
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content}) {
            const intro = await $content('celestin/intro').fetch();
            const dyna = await $content('celestin/dynamicke-bannery').fetch();
            return {
                dyna,
                intro
            }
        },
        head () {
          return {
            title: 'Celestin | Dynamické bannery',
          }
        },
    }
</script>

<style lang="scss" scoped>

</style>