$blue-color: #0097E6;
$warning-orange:#F59300;
$alert-red: red;
$success-green: #44BD32;

$main-blue: #0097E6;
$shop-orange: #F59300;
$shop-green: #44BD32;
$web-black: #292D34;
$card-bkg: #F4F8FA;
$card-red: #F94A63;