* {
    font-family: Poppins;
}

h1, h2, h3, h4, h5, p, a, caption {
    margin: 0;
}


h1 {
    font-size: 80px;
    @media only screen and (max-width: 450px) {
        font-size: 48px;
    }
}

h2 {
    font-size: 48px;
    @media only screen and (max-width: 450px) {
        font-size: 32px;
    }
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 16px;
    max-width: 650px;
}

.small {
    font-size: 12px;
    opacity: .64;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    &:hover {
        font-weight: 600;
        color: $blue-color;
    }
}


code {
    color: #89ddff;
    font-family: 'Fira Code' !important;
    font-size: 14px;
    div {
        font-family: 'Fira Code';
        strong {
            font-family: 'Fira Code';
        }
    }
}

.blue {
    font-family: 'Fira Code';;
}
.yellow {
    color: #ffcb6b;
    font-family: 'Fira Code';
}

.css-yellow {
    color: #f2ff00;
    font-family: 'Fira Code';
}

.green {
    color: #c3e88d;
    font-family: 'Fira Code';
}

.css-green {
    color: #80cbc4;
    font-family: 'Fira Code';
}

.white {
    color: white;
    font-family: 'Fira Code';
}
.purple {
    color: #c792ea;
    font-family: 'Fira Code';
}

.red {
    font-family: 'Fira Code';
    color: #f07178;
}

.orange {
    color: #fd9170;
    font-family: 'Fira Code';
}

.css-orange {
    color: #ffcb6b;
    font-family: 'Fira Code';
}

.lowered-code {
    font-family: 'Fira Code';
    color: rgba($color: white, $alpha: .4);
}

label {
    font-size: 12px;
    font-weight: 500;
    padding: 8px 0;
}