<template>
    <div class="content-list flex center-left">
        <div class="content">
            <nuxt-link class="flex return-home" to="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                Domů
            </nuxt-link>
            <h4>Obsah</h4>
            <ul>
                <li><nuxt-link :to="introLink">{{introContent}}</nuxt-link></li>
                <li><nuxt-link :to="linkOne">{{contentOne}}</nuxt-link></li>
                <li><nuxt-link :to="linkTwo">{{contentTwo}}</nuxt-link></li>
                <li><nuxt-link :to="linkThree">{{contentThree}}</nuxt-link></li>
                <li><nuxt-link :to="linkFour">{{contentFour}}</nuxt-link></li>
                <li><nuxt-link :to="linkFive">{{contentFive}}</nuxt-link></li>
                <li><nuxt-link :to="linkSix">{{contentSix}}</nuxt-link></li>
                <br> <br> 
                <li><nuxt-link :to="linkSeven">{{contentSeven}}<span> (beta)</span></nuxt-link></li>
            </ul>
        </div>
    </div>
</template>


<script>
export default {
    name: 'contentList',
    props: [
        'contentOne', 
        'contentTwo', 
        'contentThree',
        'contentFour',
        'contentFive',
        'contentSix',
        'contentSeven',
        'introContent',
        'introLink',
        'linkOne',
        'linkTwo',
        'linkThree',
        'linkFour',
        'linkFive',
        'linkSix',
        'linkSeven',
        ]
}
</script>

<style lang="scss" scoped>

.return-home {
    align-items: center;
    margin-bottom: 40px;
    svg {
        margin-right: 8px;
        transform: scaleX(-1);
    }
}

.content-list {
    min-height: 40vh;
    position: fixed;
    .content {
        height: 100%;
        min-width: 220px;
        position: absolute;
        right: 0;
        top: 80px;
        @media only screen and (max-width: 800px) {
            display: none;
        }
        .subcontent {
            margin-left: 40px;
        }
    }
}

ul {
    padding-left: 0;
    margin-top: 24px;
    list-style-type: none;
    min-height: 400px;
    li {
        margin: 8px 0;
        a {
            opacity: .6;
            padding: 8px 0;
            &:hover {
                opacity: 1;
                color: black;
            }
        }
    }
}

.nuxt-link-exact-active {
  color: $blue-color;
  opacity: 1 !important;
  font-weight: 600;
}

span {
    font-size: 12px;
}

.no-beta {
    span {
        display: none;
    }
}
    
</style>

