<template>
    <div class="full-width flex column image-tutorial">
        <div class="text-content">
            <h3>{{sectionTitle}} <div class="underline"></div> </h3>
            <p>{{sectionDescription}}</p>
        </div>
        <div class="image flex center">
            <img :src="tutorialImage" alt="">
        </div>
        <slot name="additionalContent"></slot>
    </div>
</template>



<script>
export default {
    name: 'videoTutorial',
    props: ['url', 'sectionTitle', 'sectionDescription', 'tutorialImage']
}
</script>


<style lang="scss" scoped>

.text-content {
    p {
        margin: 20px 0;
    }
    h3 {
        margin: 0 0 40px 0;
    }
}

.image-tutorial {
    // min-height: 50vh;
    margin-top: 80px;
    .image {
        width: 100%;
            img {
                width: 100%;
            }
        }
    }
    
</style>