<template>
    <div class="burger-nav side-bar">
      <div class="close" >
          <p @click="isActive = !isActive" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></p> 
        </div>
      <transition name="fade">
        <div class="container" :class="{ passive: isActive }">
              <div class="mobile-links">
                  <ul>
                      <li @click="isActive = !isActive" class="home-link">
                        <nuxt-link to="/" class="flex">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 22V12H15V22M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z" stroke="#1E1E1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                          Domů
                        </nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="introLink">{{introContent}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkOne">{{contentOne}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkTwo">{{contentTwo}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkThree">{{contentThree}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkFour">{{contentFour}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkFive">{{contentSix}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkSix">{{contentFive}}</nuxt-link>
                      </li>
                      <li @click="isActive = !isActive">
                        <nuxt-link :to="linkSeven">{{contentSeven}}</nuxt-link>
                      </li>
                  </ul>
              </div>
        </div> 
      </transition>
    </div>
</template>

<script>


export default {
    name: 'sideBar',
    data () {
      return {
        isActive: true
      }
    },
    props: [
        'contentOne', 
        'contentTwo', 
        'contentThree',
        'contentFour',
        'contentFive',
        'contentSix',
        'contentSeven',
        'introContent',
        'introLink',
        'linkOne', 
        'linkTwo', 
        'linkThree',
        'linkFour',
        'linkFive',
        'linkSix',
        'linkSeven',
        ]
}
</script>



<style lang="scss">

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 1;
}

.passive {
  opacity: 1;
  z-index: -1000;
  height: 0vh;
  transform: translateX(100%) !important;
}

    .close {
      width: 100%;
      height: 100px;
      z-index: 10000;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: fixed;
      p {
        padding: 24px;
        background-color: white;
        font-weight: bold;
      }
    }

.burger-nav {
  z-index: 1000;
  height: 100px;
  width: 100%;
  @media only screen and (min-width: 800px) {
    display: none;
  }
  .container {
    position: fixed;
    height: 100vh;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1000;
    transition: .4s ease-in;
    transform: translateX(0px);
  }
}


.mobile-links {
  display: flex; 
  justify-content: flex-end;
  text-align: right;
  padding: 0;
  margin: 20vh 24px 0 0;
  ul {
    text-align: right;
    padding-left: 0;
    list-style-type: none;
    a {
      display: flex;
      text-align: right;
      justify-content: flex-end;
      text-decoration: none;
      opacity: .2;
      margin: 16px 0;
    }
  }
}


.nuxt-link-exact-active {
  opacity: 1 !important;
  color: $blue-color;
  font-weight: 600;
}


@media only screen and (max-width: 720px) {
    .burger-nav {
        display: block;
    }
}

.home-link {
  margin-bottom: 80px;
  a {
    opacity: 1 !important;
    svg {
      margin-top: 2px;
      margin-right: 8px;
    }
  }
}

</style>
