<template>
    <div class="flex-row-hero">
        <aside class="col1">
          <side-bar 
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
        />
        <contentList id="content-list" class="no-beta"
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
          />
      </aside>
        <div class="col2">
          <div class="container home-page">
            <imageTutorial
              :sectionTitle="intro.chapterThree"
              :sectionDescription="hp.description"
              tutorialImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/categories_xrupxS6Vl.png"
            />
            <div class="additional-content">
                <step class="step-one step-no-image"
                    :stepTitle="hp.stepOne"
                    :stepText="hp.oneText"
                    stepImage=""
                    >
                    <div slot="stepContent">
                        <pre class="snippet">
                            <code>
                                <div class="wrapper">
                                    <strong class="red"> {{hp.snippetOne}} </strong>
                                </div>
                            </code>
                        </pre>
                    </div>
                  </step>
                  <step class="step-two"
                    :stepTitle="hp.stepTwo"
                    :stepText="hp.twoText"
                    stepImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/category_Dr94D3topV8z.png"
                    >
                    <div slot="stepContent">
                      <snackBar
                        class="no-link alert"
                        :snackBarText="hp.snackOne"
                        snackUrl="/"
                      />
                    </div>
                  </step>
                  <step class="step-three step-no-image"
                    :stepTitle="hp.stepThree"
                    :stepText="hp.threeText"
                    stepImage=""
                    >
                  </step>
                  <step class="step-four"
                    :stepTitle="hp.stepFour"
                    :stepText="hp.fourText"
                    stepImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/article_XGDwu1-fv.png"
                  >
                    <div slot="stepContent">
                      <p>
                        <b>Název</b> odpovídá názvu kategorie, která bude na hlavní stránce e-shopu. <br>
                        <b>Rubrika</b> musí být nastavená tak, aby článek patřil do zmíněné HP Kategorie <br>
                        <b>URL</b> adresa nyní nastavuje směřování kategorie uvnitř našeho e-shopu. Název můžeme nechat tak, jak je. <br>
                        <b>Externí URL</b> je adresa, kterou vyplňujeme sami, a která bude směřovat na danou kategorii. Tzn., musíme zkopírovat URL kategorie produktů našeho e-shopu a přiřadit ji do tohoto pole. <br>
                        <b>Obrázek</b> je pak ten, který se opět bude objevovat na hlavní straně a můžeme jej nahrát z našho počítače.
                      </p>
                    </div>
                  </step>
                  <snackBar
                    class="alert no-link"
                    :snackBarText="hp.snack"
                    snackUrl="/"
                  />
                  <snackBar
                    class="warning no-link"
                    :snackBarText="hp.snackTwo"
                    snackUrl="/"
                  /> 
            </div>
            <footerNavigation 
              :previousArticle="intro.chapterTwo"
              previousUrl="/celestin/dynamicke-bannery"
              :nextArticle="intro.chapterFour"
              nextUrl="/celestin/light-mode"
            />
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content}) {
            const intro = await $content('celestin/intro').fetch();
            const hp = await $content('celestin/hp-kategorie').fetch();
            return {
                hp,
                intro
            }
        },
        head () {
          return {
            title: 'Celestin | Kategorie na hlavní straně',
          }
        },
    }
</script>

<style lang="scss" scoped>

</style>