<template>
    <div class="flex-row-hero">
        <aside class="col1">
          <side-bar 
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
        />
        <contentList id="content-list" class="no-beta"
            :introContent="intro.introChapter"
            introLink="/celestin"
            :contentOne="intro.chapterOne"
            linkOne="/celestin/bannery-vyhod"
            :contentTwo="intro.chapterTwo"
            linkTwo="/celestin/dynamicke-bannery"
            :contentThree="intro.chapterThree"
            linkThree="/celestin/hp-kategorie"
            :contentFour="intro.chapterFour"
            linkFour="/celestin/light-mode"
            :contentFive="intro.chapterFive"
            linkFive="/celestin/winter-mode"
            :contentSix="intro.chapterSix"
            linkSix="/"
            :contentSeven="intro.chapterSeven"
            linkSeven="/"
            :contentEight="intro.chapterEight"
            :contentNine="intro.chapterNine"
            :contentTen="intro.chapterTen"
          />
      </aside>
        <div class="col2">
          <div class="container home-page">
            <imageTutorial
              :sectionTitle="intro.chapterOne"
              :sectionDescription="adv.description"
              tutorialImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/adv-image_AmFw0rRgkUW3.png"
            />
            <div class="additional-content">
                <step class="step-one step-no-image"
                    :stepTitle="adv.stepOne"
                    :stepText="adv.oneText"
                    stepImage=""
                    >
                    <div slot="stepContent">
                        <pre class="snippet">
                            <code>
                                <div class="wrapper">
                                    <strong class="red"> {{adv.snippetOne}} </strong>
                                </div>
                            </code>
                        </pre>
                    </div>
                  </step>
                  <step class="step-two"
                    :stepTitle="adv.stepTwo"
                    :stepText="adv.twoText"
                    stepImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/settings_OvDSfVnHp.png"
                    >
                  </step>
                  <step class="step-three step-no-image"
                    :stepTitle="adv.stepThree"
                    :stepText="adv.threeText"
                    stepImage=""
                    >
                    <div slot="stepContent">
                      <pre class="code-snippet">
                        <code>
                          <div class="wrapper">
                            <div class="first-layer">
                              &lt;<span class="red">div</span> <span class="yellow">class</span>="<span class="green">benefit-banner</span>">
                            </div>
                              <div class="second-layer">
                                &lt;<span class="red">div</span> <span class="yellow">class</span>="<span class="green">icon-box</span>">
                              </div>
                                <div class="third-layer">
                                  &lt;<span class="red">img</span> <span class="yellow">src</span>="<span class="green">https://cdn.myshoptet.com/usr/shoptet.tomashlad.eu/user/documents/extras/celestin/img/truck.svg</span>">
                                </div>
                              <div class="second-layer">
                                &lt;/<span class="red">div</span>>
                              </div>
                              <div class="second-layer">
                                &lt;<span class="red">div</span> <span class="yellow">class</span>="<span class="green">desc-box</span>">
                              </div>
                                <div class="third-layer">
                                  &lt;<span class="red">h3</span>><span class="white"> Nahradíme textem </span>&lt;/<span class="red">h3</span>>
                                </div>
                                <div class="third-layer">
                                  &lt;<span class="red">p</span>><span class="white"> Nahradíme textem </span>&lt;/<span class="red">p</span>>
                                </div>
                              <div class="second-layer">
                                &lt;/<span class="red">div</span>>
                              </div>
                            <div class="first-layer">
                                &lt;/<span class="red">div</span>>
                            </div>
                          </div>
                        </code>
                      </pre>
                      <p>Věnujme pozornost konkrétně třema atributům, které můžeme měnit, a to <b>obrázek</b>, jehož url vkládáme v řádce začánající atributem <span class="red">img</span>. Odkaz vždy vkládáme mezi uvozovky za atributem <span class="orange">src</span>.</p>
                      <p>Další dvě proměnné pak jsou <span class="red">h3</span>a <span class="red">p</span>. <b>Text</b> mezi nimi můžeme upravovat dle libosti.</p>
                    </div>
                  </step>
                  <step class="step-four"
                    :stepTitle="adv.stepFour"
                    :stepText="adv.fourText"
                    stepImage="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Celestin/html_MnGgQfUyW8Vv.png"
                  >
                  <div slot="stepContent">
                    <p>
                      Po přidání můžeme libovolně měnit text i obrázek v banneru. Posledním krokem je tak <b>ULOŽIT</b> změny a banner se vám začne postupně přidávat na hlavní stránku.
                    </p>
                  </div>
                  </step>
                  <snackBar
                    class="warning no-link"
                    :snackBarText="adv.snack"
                    snackUrl="/"
                  />
                  <!-- <snackBar
                    class="success no-link"
                    :snackBarText="adv.snackTwo"
                    snackUrl="/"
                  /> -->
            </div>
            <footerNavigation 
              :previousArticle="intro.introChapter"
              previousUrl="/celestin"
              :nextArticle="intro.chapterTwo"
              nextUrl="/celestin/dynamicke-bannery"
            />
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content}) {
            const intro = await $content('celestin/intro').fetch();
            const adv = await $content('celestin/bannery-vyhod').fetch();
            return {
                adv,
                intro
            }
        },
        head () {
          return {
            title: 'Celestin | Bannery výhod',
          }
        },
    }
</script>

<style lang="scss" scoped>

</style>