<template>
  <div>
    <!-- <side-bar 
      v-if="this.$route.path == '/opal'"
      introContent="Úvod"
      contentOne="Velikost obrázků"
      contentTwo="Nastavení bannerů"
      contentThree="Nastavení carouselu"
      contentFour="Ikony sociálních sítí"
      contentFive="Množství zboží"
      contentSix="Loga platebních metod"
    /> -->
    <nuxt />
    <linkFooter v-if="this.$route.path !== '/'" />
  </div>
</template>

<style lang="scss">
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}



</style>
