<template>
  <div class="flex-row-hero">
    <aside class="col1">
      <side-bar 
          :introContent="page.introChapter"
          introLink="/opal"
          :contentOne="page.chapterOne"
          linkOne="/opal/images"
          :contentTwo="page.chapterTwo"
          linkTwo="/opal/banners"
          :contentThree="page.chapterThree"
          linkThree="/opal/carousel"
          :contentFour="page.chapterFour"
          linkFour="/opal/social-media"
          :contentFive="page.chapterFive"
          linkFive="/opal/logos"
          :contentSix="page.chapterSix"
          linkSix="/opal/amount"
          :contentSeven="page.chapterSeven"
          linkSeven="/opal/generator"
          :contentEight="page.chapterEight"
          :contentNine="page.chapterNine"
          :contentTen="page.chapterTen"
      />
      <contentList id="content-list"
          :introContent="page.introChapter"
          introLink="/opal"
          :contentOne="page.chapterOne"
          linkOne="/opal/images"
          :contentTwo="page.chapterTwo"
          linkTwo="/opal/banners"
          :contentThree="page.chapterThree"
          linkThree="/opal/carousel"
          :contentFour="page.chapterFour"
          linkFour="/opal/social-media"
          :contentFive="page.chapterFive"
          linkFive="/opal/logos"
          :contentSix="page.chapterSix"
          linkSix="/opal/amount"
          :contentSeven="page.chapterSeven"
          linkSeven="/opal/generator"
          :contentEight="page.chapterEight"
          :contentNine="page.chapterNine"
          :contentTen="page.chapterTen"
        />
      </aside>
    <div class="col2">
      <div class="container home-page">
        <intro
          :templateTitle="page.templateTitle"
          :introDescription="page.introDescription"
          :introSubtitle="page.introSubtitle"
          :introSubtextOne="page.introSubtextOne"
          :introSubtextTwo="page.introSubtextTwo"
          introImg="https://alexborecky.com/images/shoptet/opal.jpg"
          introSnackLink=""
          :introSnackBar="page.snackBarWarning"
          introSnackUrl=""
        />
        <nuxt-content :document="page"></nuxt-content>
        <footerNavigation class="first-page"
          :previousArticle="page.introChapter"
          :nextArticle="page.chapterOne"
          nextUrl="/opal/images"
          previousUrl=""
        />
      </div>
    </div>
  </div>
</template>
 
<script>
 
export default {
  async asyncData({$content}) {
    const page = await $content('home').fetch();
    return {page}
  },
  name: 'generator',
  components: {
  },
  head () {
    return {
      title: 'Opal - Shopteťák.cz',
    }
  },
  data () {
    return {
      name1: 'sectionTitle',
      chapterFour: 'sectionTitle'
    }
  }
}
</script>

<style lang="scss" scoped>

.home-page {
  @media only screen and (max-width: 450px) {
    margin-top: 80px;
  }
  .footer-navigation {
    a:nth-child(1) {
      visibility: hidden !important;
    }
  }
}

</style>
