<template>
    <div class="flex-row-hero">
        <aside class="col1">
        <side-bar 
          :introContent="carousel.introChapter"
          introLink="/premium-carousel"
          :contentOne="carousel.chapterOne"
          linkOne="/premium-carousel/dark-mode"
          :contentTwo="carousel.chapterTwo"
          linkTwo="/premium-carousel/tlacitka"
          :contentThree="carousel.chapterThree"
          linkThree="/premium-carousel/fotografie"
          :contentFour="carousel.chapterFour"
          linkFour="/"
          :contentFive="carousel.chapterFive"
          linkFive="/"
          :contentSix="carousel.chapterSix"
          linkSix="/"
          :contentSeven="carousel.chapterSeven"
          linkSeven="/"
          :contentEight="carousel.chapterEight"
          :contentNine="carousel.chapterNine"
          :contentTen="carousel.chapterTen"
      />
      <contentList id="content-list" class="no-beta"
          :introContent="carousel.introChapter"
          introLink="/premium-carousel"
          :contentOne="carousel.chapterOne"
          linkOne="/premium-carousel/dark-mode"
          :contentTwo="carousel.chapterTwo"
          linkTwo="/premium-carousel/tlacitka"
          :contentThree="carousel.chapterThree"
          linkThree="/premium-carousel/fotografie"
          :contentFour="carousel.chapterFour"
          linkFour="/"
          :contentFive="carousel.chapterFive"
          linkFive="/"
          :contentSix="carousel.chapterSix"
          linkSix="/"
          :contentSeven="carousel.chapterSeven"
          linkSeven="/"
          :contentEight="carousel.chapterEight"
          :contentNine="carousel.chapterNine"
          :contentTen="carousel.chapterTen"
        />
      </aside>
        <div class="col2">
      <div class="container home-page">
        <intro
          :templateTitle="carousel.title"
          :introDescription="carousel.description"
          :introSubtitle="carousel.introSubtitle"
          :introSubtextOne="carousel.introSubtextOne"
          :introSubtextTwo="carousel.introSubtextTwo"
          introImg="https://ik.imagekit.io/alexborecky/shoptetak/Doplnky/Premium_carousel/look_eEvElmPyA6.png"
          introSnackLink=""
          :introSnackBar="carousel.snackBarWarning"
          introSnackUrl=""
        />
        <nuxt-content :document="carousel"></nuxt-content>
        <footerNavigation class="first-page"
          :previousArticle="carousel.introChapter"
          :nextArticle="carousel.chapterOne"
          nextUrl="/premium-carousel/dark-mode"
          previousUrl=""
        />
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content}) {
            const carousel = await $content('carousel').fetch();
            return {
                carousel
            }
        },
        name: 'carouselDocs',
        head () {
          return {
              title: 'Premium Carousel - Shopteťák.cz',
              }
        },
    }
</script>

<style lang="scss" scoped>

.home-page {
  @media only screen and (max-width: 450px) {
    margin-top: 80px;
  }
}

</style>